.skills {
    display: flex;
    align-items: start;
    background-color: var(--color-black);
    height: 100vh;
}

.skills > .content {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    overflow: hidden;
}

.skills .ul-cards{
    display: flex;
    justify-content: center;
    /* background-color: red; */
    gap: 1rem;
    flex-wrap: wrap;
}

.skills .ul-cards .li-card{
    display: flex;
    flex-direction: column;
    background-color: var(--color-second);
    max-height: 410px;
    min-width: 300px;
    max-width: 30%;
    border-radius: 1rem;
}

.skills .ul-cards .li-card header{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    font-size: var(--font-size-subtitle);
    align-items: center;
    color: var(--color-white-dark);
}

.skills .ul-cards .li-card .icon{
    font-size: 6rem;
    margin-top: 4rem;
    color: var(--color-white-dark);
}

.skills .ul-cards .li-card header:after{
    content: attr(data-card);
    position: absolute;
    top: 0;
    right: 3%;
    font-size: 3.5rem;
    font-weight: 700;
    opacity: .350;
}

.skills .ul-cards .li-card .ul-skills{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-bottom: 1rem;
}

.skills .ul-cards .li-card .ul-skills .li-skill{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
    /* background-color: green; */
}


/* SKILL TITLE */
.skills .ul-cards .li-card .ul-skills .li-skill span:nth-child(1){
    text-align: center;
    min-width: 85px;
    font-size: .9rem;
}

/* SKILL NIVEL */
.skills .ul-cards .li-card .ul-skills .li-skill span:nth-child(3){
    width: 100%;
    text-align: center;
    min-width: 90px;
    font-size: .9rem;
}

.li-card .ul-skills .li-skill .bars{
    width: 100%;
    min-width: 120px;
    height: 15px;
    display: flex;
    /* justify-content: space-between; */
    position: relative;
    background-color: var(--color-second);    
    z-index: 1;
}

.li-card .ul-skills .li-skill .bars::before{
    content: " ";
    position: absolute;
    right: 0;
    filter: opacity(.425);
    background-color: var(--color-black);
    width: 100%;
    height: 15px;
    z-index: 2;
    border-radius: 1rem;
    /* transition: width .5s steps(0); */
}

.li-card .ul-skills .li-skill .bars div:nth-child(odd){
    height: 15px;
    min-width: 15px;
    background-color: var(--color-second-light);
}

.li-card .ul-skills .li-skill .bars div:nth-child(even){
    height: 15px;
    min-width: 11.25px;
    background-color: var(--color-second);
    z-index: 3;
}

.li-card .ul-skills .li-skill .bars div:first-child{
    border-radius: 1rem 0 0 1rem;
}
.li-card .ul-skills .li-skill .bars div:last-child{
    border-radius: 0 1rem 1rem 0;
}

.li-card .ul-skills .li-skill .fill-bar-1.bars::before{
    transition: width .5s steps(1);
    width: 98px;
}
.li-card .ul-skills .li-skill .fill-bar-2.bars::before{
    transition: width .5s steps(2);
    width: 75px;
}
.li-card .ul-skills .li-skill .fill-bar-3.bars::before{
    transition: width .5s steps(3);
    width: 45px;
}
.li-card .ul-skills .li-skill .fill-bar-4.bars::before{
    transition: width .5s steps(4);
    width: 24px;
    
}
.li-card .ul-skills .li-skill .fill-bar-5.bars::before{
    transition: width .5s steps(5);
    width: 0;
}

/* STUDIES */

/* .studies{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;    

}

.studies .content{
    border-radius: 1rem;
    width: 92%;
    height: 92%;
}

.studies .content nav .ul-studies{
    display: flex;
    gap: 1rem;
}

.studies .content nav .ul-studies .li-study{
    border-bottom: 1px solid var(--color-second);
    background-color: var(--color-second-hover);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    padding: 5px 10px;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    cursor: pointer;
}
.studies .content nav .ul-studies .li-study:nth-child(1){
    border-bottom: none;
    background-color: var(--color-second);
}

.studies .info{
    background-color: var(--color-second);
    height: 80%;
    width: 100%;
} */

.studies{
    width: 100%;
    height: 100%;
}

.studies .ul-studies{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.studies .ul-studies .li-study{
    width: 90px;
    height: 90px;
    border-radius: 100%;
    background-color: var(--color-second);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

.studies .ul-studies .li-study span{
    width: 100%;
    text-align: center;
}

.studies .ul-studies .li-study .icon{
    font-size: 1.4rem;
}

.studies .ul-studies .li-study:hover{
    animation: brightness .5s ease-in-out;
}

@keyframes brightness {
    0% {
        opacity: 0;
        filter: blur(10px);
    }
    10%{
        opacity: 1;
        filter: brightness(1.4) blur(6px);
    }
    100%{
        filter: brightness(1) blur(0);
    }
}

.studies .ul-studies .li-study:hover span{
    position: relative;
    visibility: hidden;
}

.studies .ul-studies .li-study:hover span::after{
    content: attr(data-span);
    visibility: visible;
    position: absolute;
    bottom: 0px;
    left: 22px;
    font-size: 1rem;
}

@media screen and (max-width:955px){
    .skills{
        height: 150vh;
    }
}

@media screen and (max-width:635px){
    .skills{
        height: 190vh;
    }
}