.home {
    background-color: var(--color-black);
    height: calc(100vh - 80px);
    overflow: hidden;
}

.home .content {
    display: flex;
}

.home .presentation {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home h1 {
    font-family: 'Roboto';
    font-size: 6rem;
    /* text-shadow: 2.5px 3px 3px #fff; */
    color: var(--color-second);
    text-shadow: 2.5px 3px 1px #fff;
    
}

.home h2,
.home p,
.home span {
    font-family: 'Poppins';
}

.home .buttons {
    display: flex;
    gap: 1rem;
}

.home .buttons div {
    height: 30px;
    border-radius: .4rem;
    border: 1px solid var(--color-white-dark);
    position: relative;
    overflow: hidden;
    background-color: transparent;
    transition: width .3s;
    z-index: 1;
    cursor: pointer;
    color: var(--color-white);
}

.home .buttons div a{
    display: flex;
    align-items: center;    
    height: 100%;
    padding: 0 8px;
    color: var(--color-white);
}

.home .buttons div::before {
    content: '';
    width: 0;
    height: 350%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: var(--color-second);
    transition: .5s ease;
    display: block;
    z-index: -1;
}

.home .buttons div:hover::before {
    width: 105%;
}

.home .profile {
    display: flex;
    position: relative;
    height: calc(100vh - 80px);
    width: 70%;
    justify-content: end;
}

.home .profile .img {
    transition: opacity 5s;
    animation: fadeIn 1.5s ease;
    z-index: 10;
}

.home .profile .overlay {
    position: absolute;
    right: 0;
    bottom: -115px;
    z-index: 5;
    height: 100%;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        filter: blur(20px);
    }
    10%{
        opacity: 1;
        filter: brightness(1.6) blur(10px);
    }
}

/* RESPONSIVE DESIGN */

@media screen and (max-width:800px){


    .home .content{
        /* overflow: hidden; */
        flex-direction: column;
    }

    .home .content .profile{
        position: absolute;
        top: 0;
        right: 0;
        overflow: hidden;
        width: 100%;
    }


    .home .content .presentation{
        z-index: 15;
    }
}

@media screen and (max-width:600px){
    .home .content .profile img{
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: hidden;
        top: 0;
        object-fit: cover;
    }
}