.contact {
    display: flex;
    align-items: start;
    background-color: var(--color-black);
    height: 100vh;
}

.contact .content {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    overflow: hidden;
}

.contact .container {
    display: flex;
    width: 100%;
    gap: 1rem; 
    height: 100%;
    align-items: center;
    padding: 0 1rem;

}

/* MESSAGE PREVIEW */

.container .message-preview{
    width: 50%;
    background-color: var(--color-white);
    border-radius: .5rem;
    /* min-height: 70%; */
    font-size: .875rem;
}

.message-preview header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .875rem;
    font-family: sans-serif;
    background-color: #f2f6fc;
    border-radius: 8px 8px 0 0;
    color: #041E40;
    padding: 10px 1rem;
}

.message-preview header h3{
    
    font-weight: 100;
}

.message-preview header .ul-icons{
    display: flex;
    gap: .5rem;

}

.message-preview .message-body{
    padding: 0 1rem 1rem 1rem;
    min-height: 100%;
}

.message-preview .addressee{
    box-shadow: inset 0 -1px 0 0 rgb(100 121 143 / 12%);
    color: #747775;
    padding: 10px 0;
    display: flex;
    gap: .6rem;
}

.message-preview .addressee span:last-child{
    padding: 2.5px 7.5px;
    box-shadow: 0 0 0 1px rgb(218 220 224) inset;
    border-radius: 1rem;
    font-weight: 500;
    /* border: 1px solid #747775; */
}

.message-preview .business{
    box-shadow: inset 0 -1px 0 0 rgb(100 121 143 / 12%);
    color: #747775;
    padding: 10px 0;
}

.message-preview .message{
    height: 70%;
    padding: 10px 0;
    color: rgb(34,34,34);
}

.message-preview .btn-send{
    height: 2rem;
    background-color: #0b57d0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    border-radius: 18px;
    font-family: sans-serif;

}

.message-preview .btn-send span{
    display: flex;
    align-items: center;
    height: 100%;
    border-right: 1px solid var(--color-black);
    padding: 0 1rem;
    font-size: .8rem;
    font-weight: 700;

}
.message-preview .btn-send .icon{
    font-size: .8rem;
    margin: 0 10px;
    

}


.message-preview .ul-buttons{
    display: flex;
    column-gap: 1rem;
    row-gap: .5rem;
    align-items: center;
    flex-wrap: wrap;
    align-self: flex-end;
}

.message-preview .ul-buttons .li-button{
    font-size: 1.2rem;
    color: #201e1e;
}
.message-preview .ul-buttons .li-button:last-child{
    text-align: end;
    width: 30px;
}

@media screen and (max-width: 560px) {
    .contact .container{
        flex-direction: column;
    }

    .contact .message-preview{
        width: 80%;
    }
}

@media screen and (max-width: 340px) {
    .contact .message-preview{
        width: 100%;
    }
}

/* FORM */



.container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.container .file label {
    text-align: center;
}


.container .file span {
    text-align: center;
    color: var(--color-main);
}

.container .file input {
    border: solid 1.5px #9e9e9e;
    border-radius: 1rem;
    background: none;
    padding: 6px 1rem;
    font-size: 1rem;
    color: var(--color-main);
}

.container .file label {
    padding: 5px 10px;
    border-radius: 1rem;
    background-color: var(--color-second);
}


.container .file label:hover {
    cursor: pointer;
    background-color: var(--color-hover);

}



.container .icon {
    font-size: 2rem;
    color: var(--color-main);
}

.container .ul-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 50%;
    position: relative;
}

.container .ul-inputs::before{
    content: 'Write me';
    position: absolute;
    top: 0;
    font-size: 5rem;
    opacity: .225;
    font-family: var(--font-poppins);
    text-align: center;
    color: var(--color-second);
}

.container .li-input {
    position: relative;
}

.container .li-input:nth-child(1) input {
    padding: 4px 15px;
}

.container .li-input input[type='number'] {
    padding: 8px 15px;
}

.container .li-input input[type='number']~label {
    transform: translateY(7px);
}

.container .li-input input {
    border: solid 1.5px #9e9e9e;
    border-radius: 1rem;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    color: var(--color-white);
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container .li-input label {
    position: absolute;
    left: 15px;
    color: #a8a4a4;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}



.container .li-input input:focus,
.container .li-input input:focus input {
    outline: none;
    border: 1.5px solid #1a73e8;
    color: #fff;
}

.container .li-input input:focus~label,
.container .li-input input:valid~label {
    transform: translateY(-50%) scale(0.9);
    background-color: var(--color-black);
    padding: 0 .2em;
    color: #2196f3;
}

.container .button-send {
    padding: 8px 14px;
    border-radius: 1rem;
    background-color: var(--color-second);
    border: none;
    color: #fff;
    cursor: pointer;
}

.container .button-send:hover {
    background-color: var(--color-second-hover);
}

.container .ul-books {
    display: flex;
    flex-direction: column;
}

.container .ul-books .li-book {
    display: grid;
    grid-template-columns: .2fr .8fr .8fr .7fr 2fr;
}

.container .ul-books .li-book div {
    width: 100%;
    outline: 1px solid #d3d3d3;
}

.container .ul-books .li-book span {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;

}


@media screen and (max-width:780px) {
    .container .ul-books .li-book span {
        font-size: .7rem;
    }
}

@media screen and (max-width:490px) {
    .container .ul-books .li-book span {
        font-size: .6rem;
    }
}

@media screen and (max-width:400px) {
    .container .ul-books .li-book div {
        overflow: scroll;
    }
}


