@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto:wght@300&display=swap');

:root{
  --color-black: #000;
  --color-black-second: #1B1A17;
  --color-black-light: #434242;

  --color-white: #fff;
  --color-white-dark: #F3EFE0;

  --color-second: #22A39F;
}

*{
  margin: 0;
  padding: 0;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  /* height: 100%; */
  /* width: 100%; */
}